.taskItem {
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.taskItem:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.taskItem_low {
    border-left: 5px solid #4caf50;
}

.taskItem_medium {
    border-left: 5px solid #ff9800;
}

.taskItem_high {
    border-left: 5px solid #f44336;
}

.strikethrough {
    text-decoration: line-through;
    color: gray;
  }
  

.taskContent {
    flex-grow: 1;
}

.taskContent p {
    margin-top: 0.5rem;
    color: rgb(85, 84, 84);
}

.taskMeta {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1rem;
}

.dueDate,
.priority {
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    background-color: #f0f0f0;
}

.low {
    background-color: #e8f5e9;
    color: #4caf50;
}
.medium {
    background-color: #fff3e0;
    color: #ff9800;
}
.high {
    background-color: #ffebee;
    color: #f44336;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tag {
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    border-radius: 20px;
    background-color: #e0e0e0;
    color: #333;
    transition: transform 0.3s ease;
}

.tag:hover {
    transform: scale(1.05);
}

.taskActions {
    display: flex;
    gap: 0.5rem;
}

.taskActions button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
}

.taskActions button:hover {
    background-color: #f0f0f0;
    transform: scale(1.1);
}

.reminderButton.active {
    color: #2196f3;
}

.completeButton.completed {
    color: #4caf50;
}

.undoNotification {
    position: fixed; 
    right: 2rem;
    bottom: 2rem;
    background-color: #323232; 
    color: #ffffff; 
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    font-size: 14px;
    z-index: 1000;
    opacity: 0;
    animation: fadeInUp 0.3s forwards;
}

.undoNotificationButton {
    margin-left: 15px;
    background: none;
    border: 1px solid #4caf50;
    color: #4caf50;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s ease;
    padding: 5px 10px;
    border-radius: 5px;
}

.undoNotificationButton:hover {
    color: #81c784;
}

/* Toast animation */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 600px) {
    .taskMeta {
        margin: 1rem 0;
    }
    .taskItem {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 768px) {
    .task-actions {
        margin-top: 1rem;
        width: 100%;
        justify-content: space-between;
    }
}
